Assignment3_ODD_MAIRE.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI xmlns:xi="http://www.w3.org/2001/XInclude" xmlns:svg="http://www.w3.org/2000/svg"
  xmlns:math="http://www.w3.org/1998/Math/MathML" xmlns="http://www.tei-c.org/ns/1.0">
  
  <!--Here the metadatas of the project (teiHeader)-->
  <teiHeader>
    
    <!--Here the description of the file.(fileDesc)-->
    <fileDesc>
      
      <!--Here informations about the title (titleStmt)-->
      <titleStmt>
        <title>Assignement3_ODD_MAIRE</title>
        <respStmt>
          <resp>ODD customization and TEI encoding</resp>
          <name>Joséphine Maire </name>
        </respStmt>
      </titleStmt>
      
      <!--Here informations about the publications (publicationStmt)-->
      <publicationStmt>
      <publisher>unpublished, TNAH project</publisher>
      <availability status="free">
        <licence>
          <p>diffusion on Github.</p>
        </licence>
      </availability>
      </publicationStmt>
      
      <!--Here the explaination of the source (sourceDesc)-->
      <sourceDesc>
        <p>This ODD was generated from an encoded sample of poetry, produced for assignment 2 of the project Encoding Project Portfolio.</p> 
      </sourceDesc>
      
    </fileDesc>
    
    <!--Here the description of the encoding-->
    <encodingDesc>
      
      <!--Project description-->
      <projectDesc>
        <p>This project aims to encode and design a French poetry corpus composed by three texts: 
          <title>Le Lac</title> by <name>Alphonse de Lamartine</name>, 
          <title>L'Albatros</title> by <name>Charles Baudelaire</name> and 
          <title>La courbe de tes yeux</title> by <name>Paul Eluard</name>. To encode we used XML-TEI.
          This odd file defines a customized schema which works especially with poetry elements.
        </p>
      </projectDesc>
    </encodingDesc>
    
  </teiHeader>
  <!--End of the Header (</teiHeader>)-->
  


  <!--Here the beginning of the customization project-->
  <text>
    
    <body>
      <!--First part of the body : head and p, to specifiy the project and describe it-->
    <head>Customization of my encoding project<!--Here the title of the project--></head>
      <p>My projet consists in a customization of an encoding model, the idea is include 3 poems in a model of encoding poetry project. To do this, I need a model that I can appy in my 2 poems.</p>
      
      <!--Second part of the body : schemaSpec. Explain a schema specification included in schemaSpec.-->

      <schemaSpec ident="assignment3_ODD_MAIRE" start="TEI"><!--schemaSpec: actual specification of my customization-->
        <moduleRef key="header" include="teiHeader fileDesc titleStmt publicationStmt authority sourceDesc encodingDesc projectDesc p"/>
        <moduleRef key="core"/>
        <moduleRef key="tei"/>
        <moduleRef key="textstructure" include="TEI text body"/>
        <moduleRef key="verse" include="metDecl"/>
      </schemaSpec>
      
 <!--Here starts the customization -->
   
   
    <!--START element specification 1 -->
    <!--This rule aims to restrict the use of <gi>met<gi> attribute on <gi>l<gi> element. The result expected is accept only French poetry patterns (metrically)-->
      <elementSpec ident="l">
        
        <attList>
      <attDef ident="met" mode="change" usage="opt">
        <desc>[Note Change!]This specifies the metrical pattern of the verse. The customization is used to permit only French metrical patterns.</desc>
        <datatype>
          <dataRef name="token"/><!--This specifies the type of data-->
        </datatype>
        <valList type="closed" mode="replace"><!--type="closed" is used to allowed only the values described bellow (the free text is prohibited)./ mode="replace" replaces the default tei -->
          <valItem ident="alexandrin">
          <desc>The alexandrine is a 12-syllabe verse</desc>
          </valItem>
          <valItem ident="decasyllabe">
            <desc>The decasyllabe is a 10-syllabe verse</desc>
          </valItem>
          <valItem ident="octosyllabe">
            <desc>The octosyllabe is a 8-syllabe verse</desc>
          </valItem>
          <valItem ident="hexasyllabe">
            <desc>The hexasyllabe is a 6-syllabe verse</desc>
          </valItem>
          <valItem ident="heptasyllabe">
            <desc>The heptasyllabe is a 7-syllabe verse</desc>
          </valItem>
        </valList>
        
        <exemplum>
        <!--Here I create a minimal encoding example from my tei file-->
          <egXML xmlns="http://www.tei-c.org/ns/Examples">
            <!--Example from my corpus, in the albatros file -->
            <l n="1" met="alexandrin">Souvent, pour s'amuser, les hommes d'équipages</l>
            <l n="4" met="hexasyllabe">Jeter l'ancre un seul jour ?</l>
            <!--Why this rule is usefull ? Because as we said in the example, it aims the uniformisation of the vocabulary accross the all corpus. So you have 1 way to encode "alendrin" and no many ways as "alex", "12-syllabes"...-->
          </egXML>
        </exemplum>
        </attDef>
        </attList>
      </elementSpec>
      <!--END of the element specification 1-->
        
        
      <!-- START element specification 2 -->
      <!-- The aims of this rule is to define what elements can appear inside <lg> and in what order they must appear.-->
      <elementSpec ident="lg">
       <content>
         <sequence>
           <elementRef key="head" minOccurs="0" maxOccurs="1"/> <!--<head> for eventual stanzas titles-->
           <alternate minOccurs="0" maxOccurs="unbounded">
             <elementRef key="lg"/><!--<lg> for complex structures like stanzas (quatrains for example)-->
             <elementRef key="l"/><!--<l> for simple element like verse line-->
           </alternate>
         </sequence>
       </content>
       <!-- Why this rule is usefull ? The rule permits a hierarchical nesting. Stanzas contain either stanzas (quatrains...) or lines, titles can appear at the start of a line only, and the structure show the logical organization of a French poem.-->
      </elementSpec>
      <!-- END of the element specification 2 -->
      
      
      <!-- START element specification 3 -->
      <elementSpec ident="rhyme">
        
        <!-- The aim of this rule is to impose a @rhyme attribute whenever the <lg type="quatrain"> used, to document the rhyme scheme-->
        <constraintSpec ident="quatrain-rhyme-required" scheme="schematron">
          <desc>[Note Change!] This Schematron rule enforces that when a line group (lg)
            has @type="quatrain", it must also have a @rhyme attribute specifying the rhyme
            scheme.</desc>
          
          <constraint
            xmlns:sch="http://purl.oclc.org/dsdl/schematron"
            xmlns:tei="http://www.tei-c.org/ns/1.0">
            
            <sch:rule context="tei:lg[@type='quatrain']"> <!--the rule targets only <lg> elements where the type="quatrain" -->
              <sch:assert test="@rhyme"><!--This make shure that the @rhyme attribute exists -->
                A quatrain (lg with @type="quatrain") must have a @rhyme attribute which
                specifies his rhyme scheme (e.g., "abab" or "abba"). Classical French
                quatrains follow established rhyme patterns that should be documented.
              </sch:assert>
            </sch:rule>
           <!--Why this rule is usefull? It is usefull because classical poems uses patterns in particular in its rhymes (for quatrains). So the rule ensures the good documented of the nature of quatrain. It is very iportant to the analyse of the text.-->
          </constraint>
        </constraintSpec>
      </elementSpec>
      <!--Remark: This rule is made for quatrains, so it is less usefull in the poem "La courbe de tes yeux", a surrealist poem. These poems do not have formal rhymes schema and are often irregular.-->
      
      <!-- END of the element specification 3-->
      
    </body>
  </text>
</TEI>
